# Ignore the virtual environment
venv/
*.pyc
__pycache__/

# Ignore configuration files
*.env
*.ini

# Ignore IDE and editor directories
.idea/
.vscode/
*.swp

# Ignore local development files
*.log
*.sqlite3
*.db

# Ignore Docker and deployment files
Dockerfile
docker-compose.yml

# Ignore system files
.DS_Store
Thumbs.db
